.footer {
  background-color: #313131;
  @include flex(center, center);
  flex-direction: column;
  padding: 10px;
  &_top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    @include tablet {
      flex-direction: column;
    }
    .repo {
      display: flex;
      justify-content: space-around;
      align-items: center;
      img {
        width: 200px;
        @include tablet {
          width: 140px;
        }
        @include mobile{
          width: 6.25rem;
        }
      }
      .top_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
        width: 600px;
        margin-left: 200px;
        @include tablet {
          margin-left: 80px;
          width: 400px;
        }
        @include mobile{
            width: 10rem;
        }
        input {
          height: 40px;
          width: 250px;
          background-color: transparent;
          font-size: 13px;
          font-style: italic;
          letter-spacing: 1px;
          border: none;
          outline: none;
          color: $background_white;
          @include mobile{
            width: 7rem;
            font-size: .8rem;
          }
        }
        i {
          font-size: 18px;
          color: #ccc;
          @include mobile{
            font-size: .8rem;
          }
        }
      }
    }
    .top_icon {
      @include flex(center, center);
      .top_icon-item {
        height: 36px;
        width: 36px;
        @include flex(center, center);
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 0 15px;
        @include tablet {
          margin: 0 70px;
          margin-top: 20px;
        }
        @include mobile{
          margin: 0 20px;
          margin-top: 20px;
        }
        i {
          font-size: 13px;
          color: #ccc;
        }
      }
    }
  }
  .line {
    height: 1px;
    width: 85%;
    background-color: #818181;
    margin: 35px 0;
    @include mobile{
      margin: 20px 0;   
    }
  } 
  &_bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile{
      flex-direction: column-reverse;   
    }
    h3 {
      display: flex;
      align-items: center;
      letter-spacing: 1px;
      font-size: 15px;
      font-style: italic;
      color: #818181;
      @include tablet{
        font-size: 14px;      
      }
      @include mobile{
          font-size: .7rem;
          margin: 10px 0;
      }
      p {
        color: white;
        margin: 0 5px;
        letter-spacing: 1px;
      }
    }
    ul {
      @include flex(center, center);
      li {
        margin: 0 20px;
        a {
          color: #818181;
          font-style: italic;
          font-size: 18px;
          @include mobile{
              font-size: 1rem;
          }
        }
      }
    }
  }
}
